#include "../Release.xcconfig"

// Build/archive settings
MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.tube-service

// App config / Info.plist values
TFL_API_BASE_URL = https:/$()/api.tfl.gov.uk
// TFL_API_APP_KEY = ** <Supplied by CI> **
// TUBE_SERVICE_API_BASE_URL = ** <Supplied by CI> **
// TUBE_SERVICE_API_KEY = ** <Supplied by CI> **
SYSTEM_STATUS_API_BASE_URL = https:/$()/www.ridgeviewapps.com
SYSTEM_STATUS_FILE_NAME = status-prod.json
