#include "../Release.xcconfig"
#include "Prod.secrets.xcconfig"

// Build/archive settings
MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.tube-service

// App config / Info.plist values
TRANSPORT_API_BASE_URL = https:/$()/api.tfl.gov.uk
SYSTEM_STATUS_API_BASE_URL = https:/$()/www.ridgeviewapps.com
SYSTEM_STATUS_FILE_NAME = status-prod.json
