#include "Base.xcconfig"

MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.tube-service.beta
PROVISIONING_PROFILE_SPECIFIER = match AdHoc $(PRODUCT_BUNDLE_IDENTIFIER)
CODE_SIGN_IDENTITY = Apple Distribution
CODE_SIGN_STYLE = Manual
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) ADHOC_BUILD
EXCLUDED_SOURCE_FILE_NAMES = TubeService/Data/Debug/*
