#include "Defaults.xcconfig"
#include "Debug.secrets.xcconfig"

// Build/archive settings
MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.tube-service.debug
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 3H5L23529U

// App environment / Info.plist values
TRANSPORT_API_URL = https:/$()/api.tfl.gov.uk
