#include "Base.xcconfig"

// Build/archive settings
MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.tube-service.debug
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 3H5L23529U

// App config / Info.plist values
TFL_API_BASE_URL = https:/$()/api.tfl.gov.uk
TUBE_SERVICE_API_BASE_URL = http:/$()/localhost:8000
SYSTEM_STATUS_API_BASE_URL = https:/$()/www.ridgeviewapps.com
SYSTEM_STATUS_FILE_NAME = status-dev.json

// App config (sensitive)
TFL_API_APP_KEY = // Blank OK for development (only required for release)
TUBE_SERVICE_API_KEY = // Blank OK for development localhost
