#include "Base.xcconfig"

// Build/archive settings
MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.tube-service
CODE_SIGN_IDENTITY = Apple Distribution
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 3H5L23529U
EXCLUDED_SOURCE_FILE_NAMES = TubeService/Data/Debug/*

// App config / Info.plist values
TFL_API_BASE_URL = https:/$()/api.tfl.gov.uk
// TFL_API_APP_KEY = ** <Supplied by CI> **
TUBE_SERVICE_API_BASE_URL = // TBD
// TUBE_SERVICE_API_KEY = ** <Supplied by CI> **
SYSTEM_STATUS_API_BASE_URL = https:/$()/www.ridgeviewapps.com
SYSTEM_STATUS_FILE_NAME = status-prod.json

