#include "Defaults.xcconfig"
#include "Release.secrets.xcconfig"

// Build/archive settings
MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.tube-service
CODE_SIGN_IDENTITY = Apple Distribution
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 3H5L23529U
EXCLUDED_SOURCE_FILE_NAMES = TubeService/Data/Debug/*

// App config / Info.plist values
TRANSPORT_API_URL = https:/$()/api.tfl.gov.uk
